{% extends 'todo/base.html' %} {% load static %} {% block header %}
<link rel="stylesheet" href="{% static 'css/checkbox-css.css' %}">
<style>
    .add{
        margin: 10px;
        margin-top: -10px;
        color: black;
        background-color: #7115db;
        border-color: #007bff;
        width: fit-content;
        padding: 20px;
    }
    .add:hover{
        background-color: #007bff;
        border-color: #007bff;
        color: white;
        text-decoration: none;
    }
    
    

</style>

    

{% endblock %} {% block content %}
<a class="add"style="height: 20px;" href="/create_new">Add New Story </a>
<div class=" d-flex justify-content-center bg-white align-items-center">
    <div class="col-md-6">
        <h1>Shared Stories</h1>
        <hr class="border-primary">
        <!-- <table class="table text-light">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in Todos %}
                <tr>
                    <td>{{todo.title}}</td>
                    <td>{{todo.description}}</td>
                    <td>{{todo.date_created|date:"M j, Y h:i A"}}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table> -->
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button> {{ message | safe }}
        </div>
        {% endfor %} {% endif %}
        <div id="ajax-msg"></div>
        <ul class='list-group ' >
            {% for todo in Todos %}
            <li class="list-group-item  ">
                <div class="w-100 d-flex justify-content-between align-items-center">
                    <div class="d-flex border-light justify-content-start align-items-center form-group">
                        
                       <h1>
                        <img src="{% static "images/avatar2.png" %}" alt="Avatar" class="logo">

                        {{todo.title}}</
                       </h1>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ">
                        
                        
                        <div class="dropleft">
                            
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/manage_todo?id={{todo.id}}">Edit</a>
                                <a class="dropdown-item delete" href="javascript:void(0)" data-id={{todo.id}}>Delete</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="todo-item-{{todo.id}}" class="collapse w-100" aria-labelledby="{{todo.title}}" data-parent="#todoList">
                    <hr class="border-primary">
                    
                </div>
            </li>
            <p>{{todo.description}}</p>
            <p><i>{{todo.date_created}}</i></p>
            {% endfor%}
        </ul>
    </div>
</div>

{% endblock %}
